{% extends "layout.html" %}
    {% block content %}
        <div id="studentConfiguration-section">
            <div id="studentConfiguration-navbar">
                <div id="navbarLogo-addCont">
                    <div id="navbarLogo-add">
                        <img src=" {{ url_for('static', filename='images/mamserLogo-add.svg') }} ">
                    </div>
                </div>
                <div id="navbarLogo-searchCont">
                    <div id="navbarLogo-search">
                        <img src=" {{ url_for('static', filename='images/mamserLogo-search.svg') }} ">
                    </div>
                </div>
                <div id="navbarLogo-deleteCont">
                    <div id="navbarLogo-delete">
                        <img src=" {{ url_for('static', filename='images/mamserLogo-delete.svg') }} ">
                    </div>
                </div>
            </div>
            <div id="studentConfiguration-registry">
                <div id="deleteRegistry">
                </div>
                <div id="searchRegistry">
                    <form>
                        {{ searchRegistryForm.hidden_tag() }}
                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        ID Number:
                        <table>
                            <tr>
                                <td>{{ searchRegistryForm.search_idNo(placeholder="YYYY-NNNN") }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {% if searchRegistryForm.search_idNo.errors %}
                                        {% for error in searchRegistryForm.search_idNo.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </form>
                    <input type="button" id="search_submit" value="SEARCH">
                </div>
                <div id="addRegistry">
                    <form method="post" action="">
                        {{ addRegistryForm.hidden_tag() }}
                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        Name:
                        <table>
                            <tr>
                                <td>{{ addRegistryForm.add_name }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {% if addRegistryForm.add_name.errors %}
                                        {% for error in addRegistryForm.add_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        ID Number:
                        <table>
                            <tr>
                                <td>{{ addRegistryForm.add_idNo(placeholder="YYYY-NNNN") }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {% if addRegistryForm.add_idNo.errors %}
                                        {% for error in addRegistryForm.add_idNo.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        Gender:
                        <table>
                            <tr>
                                {% for subfield in addRegistryForm.add_gender %}
                                    <td>{{ subfield }}{{ subfield.label }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% if addRegistryForm.add_gender.errors %}
                                        {% for error in addRegistryForm.add_gender.errors %}
                                            {{ error }}
                                        {% endfor %}
                                {% endif %}
                            </tr>
                        </table>
                        College:
                        <table>
                            <tr>
                                <td>
                                    {{ addRegistryForm.add_college }}
                                </td>
                                <td>
                                    {{ addRegistryForm.add_course }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% if addRegistryForm.add_college.errors %}
                                        {% for error in addRegistryForm.add_college.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if addRegistryForm.add_course.errors %}
                                        {% for error in addRegistryForm.add_course.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                        {{ addRegistryForm.add_submit }}
                    </form>
                </div>
            </div>
        </div>
        <div id="studentList-viewbox">
            <div id="viewbox-content">
                <div id="{{ content }}"></div>
            </div>
        </div>
    {% endblock content %}