body {
    margin:0;
    padding:0;
}
select {
    padding:0 30px 0 10px !important;
    -webkit-padding-end: 20px !important;
    -webkit-padding-start: 10px !important;
}
::-webkit-input-placeholder {
    font-style:italic;
  }
#first-section {
    width:30%;
    height:100%;
    border-right: 1px #C8530C solid;
}
#logo-with-nameplate-and-description {
    border-bottom:1px #C8530C solid;
    width:100%;
    margin:170px auto 25px auto;
}
#student-configuration {
    height:170px;
    width:85%;
    margin:0 auto;
    padding:5px 8px;
    border:1px #C8530C solid;
    background-color:#FFE4D4;
}
.student-configuration-label {
    font-family:Arial, Helvetica, sans-serif;
    font-size:70%;
}
.idno-input-box {
    width:15%;
}
.name-school-course-box {
    text-overflow: ellipsis;
    width:100%;
}
#submit-btn {
    width:15%;
    margin:0 15px;
    float:right;
}
