 <html>
    <head>
        <title>Welcome to Mamser!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/mamser-logo.ico') }}"
    </head>
    <body>
        <div id="first-section">
            <img id="logo-with-nameplate-and-description" src="{{  url_for('static', filename='images/mamser-logo-with-nameplate-and-description.svg') }}">
            <div id="student-configuration">
                <table>
                    <tr>
                        <td>
                            <span class="student-configuration-label">ID number:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="idno-input-box" type="text" placeholder="YYYY">&nbsp;-&nbsp;<input class="idno-input-box" type="text" placeholder="NNNN">
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <span class="student-configuration-label">Name:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="name-school-course-box" type="text" placeholder="first name">
                        </td>
                        <td>
                            <input class="name-school-course-box" type="text" placeholder="middle initial">
                        </td>
                        <td>
                            <input class="name-school-course-box" type="text" placeholder="last name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="student-configuration-label">School:</span>
                        </td>
                        <td>
                            <span class="student-configuration-label">Course:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="name-school-course-box">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>

                        </td>
                        <td>
                            <select class="name-school-course-box">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <hr>
                <button id="submit-btn"><span id="submit-btn-txt">submit</span></button>
            </div>
        </div>
    </body> 
</html>